<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lato:ital,wght@0,300;0,400;1,300&family=Padauk&display=swap"
      rel="stylesheet"
    />
    <title>Carousel Component</title>

    <style>
      /*
      SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

      FONT SIZE SYSTEM (px)
      10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
      */

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        font-family: "inter", sans-serif;
        color: #343a40;
        line-height: 1;
      }
    </style>
  </head>
  <body>
    <div class="carousel">
      <
      <img src="maria.jpg" alt="Maria de Almeida" />
      <blockquote class="testiminol">
        <p class="testimonial-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
          blanditiis ducimus veniam deserunt, assumenda quia esse harum voluptas
          ratione fuga neque adipisci quae impedit voluptatum nam natus sint
          facilis perspiciatis?
        </p>
        <p class="testimonial-job">Senior Product Manager at EDP Comercial</p>
      </blockquote>

      <button class="btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="hbtn-icon"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 5l7 7-7 7"
          />
        </svg>
      </button>
    </div>
  </body>
</html>
